---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
---

<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <Header />
    <Hero />
    <main>
      <h1>Welcome to our site</h1>
    </main>
    <Footer />
  </body>
</html>
